console.log(myStore.getState());

// prints
{
  visibilityFilter: 'SHOW_COMPLETED',
  todosById: {
    1: {
      text: 'Agree to talk about Redux',
      completed: true
    },
    2: {
      'Calm down after mild panic attack',
      completed: true
    },
    3: {
      text: 'Make 5 minute lightning talk',
      completed: true
    }
  }
}
