console.log(myStore.getState());

// prints
{
  visibilityFilter: 'SHOW_COMPLETED',
  todos: [
    {
      text: 'Agree to talk about Redux',
      completed: true
    },
    {
      text: 'Calm down after mild panic attack',
      completed: true
    },
    {
      text: 'Make 5 minute lightning talk',
      completed: true
    }
  ]
}
